h1 {  
  margin: 20px;
  text-align: center;
  font: 2.25em;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
  color: #ea4c4c;
}  

.timer {
  background-color: #ececec;
  flex-direction: row;
  font-size: 2.0rem;
  padding: 0.5rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  box-shadow: 0px 10px #cfc9c9;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.time {
  text-transform: uppercase;
  font-size: 1.40rem;
  display: flexbox;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 100px;
  font-family: monospace;
  padding-right: 16px;
  text-align: center;
}

.border {
  border-left: solid 1px red;
  padding-left: 16px;
}

@media screen and (max-width: 1400px) {
  .time {
    font-size: 1rem;
    width: 100%;
    background-color: #ececec;
  }
};

@media screen and (max-width: 1000px) {
  .timer {
    width: 95%;
    font-size: 1rem;
    border: 0px;
    padding: 0px;
  }

  .time {
    font-size: .85rem;
    display: flexbox;
    margin: 0rem 1.5rem;
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .timer {
    width: 95%;
    font-size: 1rem;
    border: 0px;
    padding: 0px;
    margin-top: 0rem;
  }

  .time {
    font-size: .85rem;
    display: flexbox;
    margin: 0rem 1.5rem;
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* @media screen and (max-width: 600px) {
  .timer {
    margin-top: 15rem;
  }
}

@media screen and (max-width: 400px) {
  .timer {
    margin-top: 20rem;
  }
}

@media screen and (max-width: 265px) {
  .timer {
    margin-top: 28rem;
  }
} */