html {
  background-image: linear-gradient(to bottom right, rgb(151, 151, 223), rgb(85, 228, 152));
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}